#banner-heading1, #banner-heading2{
  color: #fff;
}

.homepage-image {
  width: 100%;
}

.homepage-button-flex {
  display: flex;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}
