#top_row {
  margin-top: 30px;
}

.show-container{
  margin-bottom: 10%;
}

.avatar img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.avatar img:hover {
  box-shadow: 0 0 5px black;
}

.username {
  margin-left: 50px;
  line-height: 140px;
}

.row_card {
  justify-content: center;
  display: flex;
  align-content: space-between;
}

.card {
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 25%;
}

.card a {
  color: white;
}
.card:hover, .card:focus {
  // transform: scale(1.05);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.card_container {
  border: 1px lightgrey;
  border-style: solid;
  padding: 20px;
}

.card_container h1 {
  margin-left: 10px;
}

.row_about {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px lightgrey;
  border-style: solid;
  padding: 20px;
}

