.avatar img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.username {
  text-align: down;
  margin-left: 50px;
}

.row {
  display: flex;
  margin-bottom: 100px;
  margin-left: 10px;
}

#top_row {
  justify-content: space-between;
}

.row_card {
  justify-content: center;
  display: flex;
  align-content: space-between;
}

.card {
  background-size: cover;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.card_container {
  border: 1px lightgrey;
  border-style: solid;
  padding: 20px;
}
