.row {
  display: flex;
  margin-bottom: 40px;
  width: 95%;
}
#top_row {
  margin-top: 30px;
}
.avatar img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.avatar {
  display: flex;
  padding-bottom: 20px;
}

// .avatar img:hover {
//   box-shadow: 0 0 5px black;
// }

.username {
  margin-left: 50px;
  line-height: 140px;
  margin-top: 60px;
}

.row_about {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px lightgrey;
  border-style: solid;
  padding: 20px;
  margin-top: 40px;
  min-width: 50%;
}
