.main-container{
  max-width: 80% !important;
}

.list-container{
  margin-top: 28%;
}

.list-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 0 500px;
}

.list-card {
  flex: 1 0 auto;
  max-width: 500px;
  padding: 15px;
  margin-bottom: 5%;
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

.card-header{
  color: #AB11C1;
  a:hover{
    color: #AB11C1;
  }
}

.card-image {
  height: 150px;
  max-width: 150px;
  float: left;
}

.list-card-info {
  overflow: hidden;
  margin: 2% 0 0 35%;
  a:hover{
    text-decoration: none !important;
  }
  p {
  margin: 0px;
  }
  h3 {
  margin: 0px;
  }
}
