.show-container {
  margin-bottom: 10%;
}

.row {
  display: flex;
  margin-bottom: 100px;
  margin: 0 5%;
  h3:first-child{
    margin: 0 0 3px;
  }
}

.space-information{
  width: 100%;
  p{
    margin: 0;
  }
  h3{
    margin-top: 5%;
  }
}

.link-wrapper-out{
  width: 18%;
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
}

.link-wrapper-in{
  width: 39%;
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
}
