<div class="banner-main">
  <div class="banner-content">
    <h1>Space  Maker</h1>
    <h2>"Get your space on"</h2>
    <a href="#" class="button button-primary">register</a>
  </div>
</div>

  <div class="multi-column-container">
    <div class="two-column-content">
      <div>
        <h3>Why use space maker?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lobortis velit. Integer dictum dui ut nunc tristique venenatis. Vivamus blandit, nisl a lacinia vehicula, urna risus interdum felis, ac aliquet purus ex at dui.</p>
        <a href="#" class="button button-red">register</a>
      </div>
    </div>
    <div class="two-column-content">
      <p>image</p>
    </div>
  </div>

  <div class="multi-column-container">
    <div class="two-column-content">
      <p>image</p>
    </div>
    <div class="two-column-content">
      <div>
        <h3>Still not convinced?</h3>
        <h4>Here is why we're awesome</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lobortis velit.</p>
        <h4>Here is why our competitor is not.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lobortis velit. Integer dictum dui ut nunc tristique venenatis.</p>
        <a href="#" class="button button-green">register</a>
      </div>
    </div>
  </div>

  <div class="multi-column-container">
    <div class="two-column-content">
      <div>
        <h3>You look convinced..</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lobortis velit. Integer dictum dui ut nunc tristique venenatis. Vivamus blandit, nisl a lacinia vehicula, urna risus interdum felis, ac aliquet purus ex at dui. Vestibulum a orci lobortis, lobortis magna at, lacinia odio. Aliquam ornare blandit ligula finibus rutrum.</p>
        <a href="#" class="button button-white">register</a>
      </div>
    </div>
    <div class="two-column-content">
      <p>image</p>
    </div>
  </div>

  <div class="main-container">
    <div class="one-column-content">
      <div class="centered-text">
        <h3>Just sign up!</h3>
        <p>lil bitch...</p>
        <a href="#" class="button button-primary">register</a>
      </div>
    </div>
</div>
