<div class="homepage-banner">
  <div class="banner-content">
    <h1>H1</h1>
    <h2>H2</h2>
    <a href="#">button</a>
  </div>
</div>

<div class="homepage-wrapper">
  <div class="homepage-2-column-container">
    <div class="homepage-2-column-content">
      <div>
        <h3>H3</h3>
        <p>p</p>
        <a href="#">button</a>
      </div>
    </div>
    <div class="homepage-2-column-content">
      <p>image</p>
    </div>
  </div>
</div>

<div class="homepage-wrapper">
  <div class="homepage-2-column-container">
    <div class="homepage-2-column-content">
      <p>image</p>
    </div>
    <div class="homepage-2-column-content">
      <div>
        <h3>H3</h3>
        <p>p</p>
        <a href="#">button</a>
      </div>
    </div>
  </div>
</div>

<div class="homepage-wrapper">
  <div class="homepage-2-column-container">
    <div class="homepage-2-column-content">
      <div>
        <h3>H3</h3>
        <p>p</p>
        <a href="#">button</a>
      </div>
    </div>
    <div class="homepage-2-column-content">
      <p>image</p>
    </div>
  </div>
</div>

<div class="homepage-wrapper">
  <div class="homepage-1-column-container">
    <div class="homepage-1-column-content">
      <div>
        <h3>H3</h3>
        <p>p</p>
        <a href="#">button</a>
      </div>
    </div>
  </div>
</div>
