<div class="container">
  <div>
    <div class="row">
      <h1><%= @user.name %></h1>
    </div>
    <div class="avatar">
      <%= image_tag "source", alt: "avatar" %>
    </div>
  </div>
  <% @user.spaces.each do |space| %>
  <div class="row">
    <p><%= space.name %></p>
    <p> <%= space.address %> </p>
  </div>
</div>



