.container {
  justify-content: space-around;
  background-size: 100%;
  margin: 0px;
  width: 100%;
  min-height: 520px;
}

.form {
  padding: 20px;
  border: 1px lightgrey;
  border-style: solid;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background:rgba(255,255,255,0.3);
}

.form-check{
  display: flex;
  align-items: center;
}

.form-actions {
  color: black;
}

#user_remember_me, .form-check-label{
  margin: 0;
  padding: 0;
}

.form a{
  color: #fff;
}
