// NECESSARY FOR DEPENDANTS
.content-wrapper {
  padding-top: 5%;
}

// MAIN TEXT STYLES
h1 {
  margin: 0px 0px 5px;
  font-size: 64px;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
}

h2 {
  margin: 0px 0px 15px;
  font-size: 32px;
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 300;
}

h3 {
  margin: 0px 0px 20px;
  font-size: 26px;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
}

h4 {
  margin: 0px 0px 5px;
  font-size: 18px;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
}

p {
  margin: 0px 0px 20px;
  letter-spacing: 0.2px;
  line-height: 28px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
}


// MAIN BUTTON STYLES
.button {
  display: inline-block;
  padding: 8px 20px 12px;
  border-radius: 2px;
  letter-spacing: 0.2px;
  color: #fff !important;
  transition: all 150ms ease;
}

.button:hover {
  text-decoration: none;
  color: #fff !important;
  padding: 8px 30px 12px;
}

.button-primary {
  background-color: $purple;
}

.button-primary:hover {
  background-color: $dark-purple;
}

.button-red {
  background-color: #E81021;
}

.button-red:hover {
  background-color: #D61616;
}

.button-green {
  background-color: #2DC438;
}

.button-green:hover {
  background-color: #2ABA2A;
}

.button-white {
  background-color: #fff;
  color: #159CBC;
}

.button-white:hover {
  background-color: #F2F2F2;
  color: #0787A5;
}

// MAIN SINGLE USE STYLES

.centered-text {
  text-align: center;
}

// MAIN LAYOUT STYLES
.banner-main {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-content {
  text-align: center;
}

.main-container {
  max-width: 1024px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.multi-column-container {
  max-width: 1024px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.two-column-content {
  height: 500px;
  flex: 1 0 300px;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.one-column-content {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// MAIN FORM STYLES

label {
  font-size: 26px;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
}

select {
  border-radius: 0px !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  letter-spacing: 0.2px;
  line-height: 28px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

input {
  border-radius: 0px !important;
  border: none !important;
  box-shadow: none !important;
  color: #fff;
}

textarea {
  border-radius: 0px !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mx-1 {
  width: 33%;
}

.form-holder {
  background-color: #159CBC;
  min-width: 35vw;
  padding: 40px 25px;
  border-radius: 25px;
}

.form-h1-title {
  margin-bottom: 30px;
}

.form-text-white {
  h1 {
    color: #fff;
  }
  label {
    color: #fff;
  }
  input {
    color: #444;
  }
}



