.dashboard-container {
  background-color: #fff;
  max-width: 1024px;
  margin: 20px auto;
  padding: 20px 20px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
  grid-gap: 20px;
}

.dashboard-grid-image {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  color: #fff;
  background-color: #159CBC;
}

.dashboard-grid-info {
  grid-row: 1 / span 1;
  grid-column: 2 / span 3;
  background-color: #fff;
  padding: 30px;
  position: relative;
  h3:last-child {
    color: #aaa;
  }
}

.dashboard-grid-spaces {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}

.dashboard-grid-bookings {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
}

.dashboard-info-title {
  margin: 0px;
  color: #159CBC;
}

.dashboard-info-text {
  margin: 0px;
}

.dashboard-info-edit {
  position: absolute;
  right: 0px;
  top: 0px;
}

.dashboard-list-header {
  display: flex;
  color: #159CBC;
  background-color: #fff;
  padding: 10px 10px;
  border-bottom: 2px solid #159CBC;
  h3 {
    margin: 0px;
  }
}

.dashboard-list {
  background-color: #fff;
  border-bottom: 2px solid #159CBC;
}

.dashboard-list-item {
  display: flex;
  padding: 5px 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.dashboard-list-item:last-child {
  border-bottom: 0px solid #159CBC;
}

.dashboard-list-text {
  margin: 0px;
  letter-spacing: 0.2px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.dashboard-link {
  color: #666 !important;
}

.dashboard-link:hover {
  text-decoration: none;
  color: #159CBC !important;
}

.dashboard-list-item-spacer {
  flex: 1 0 auto;
}

.dashboard-icon {
  color: #ddd;
  font-size: 14px;
}

.add {
  font-size: 20px;
}

.dashboard-icon:hover {
  text-decoration: none;
  color: #159CBC;
}

.add-space-margin {
  margin-top: 5px;
}


