.dashboard-container {
  background-color: #fff;
  max-width: 1024px;
  margin: 20px auto;
  padding: 20px 20px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
  grid-gap: 20px;
  .dashboard-grid-image {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  .dashboard-grid-info {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
    padding: 0px 0px;
    border-bottom: 2px solid #159CBC;
    position: relative;
    h1:last-child {
      color: #aaa;
    }
  }
  .dashboard-grid-spaces {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  .dashboard-grid-bookings {
    grid-row: 2 / span 1;
    grid-column: 3 / span 2;
  }
}

// div, a, p {
//   outline: 1px dotted red;
// }


.avatar {
  width: 100%;
  height: 100%;
}

.dashboard-info-title {
  a {
    margin: 0px;
    color: #159CBC;
  }
}

.dashboard-info-title:hover {
  a {
    text-decoration: none;
  }
}

.dashboard-info-text {
  margin: 0px;
}

.dashboard-list-header {
  display: flex;
  color: #159CBC;
  background-color: #fff;
  padding: 10px 10px;
  border-bottom: 2px solid #159CBC;
  h3 {
    margin: 0px;
    flex: 1 0 auto;
  }
}

.dashboard-list {
  background-color: #fff;
  border-bottom: 2px solid #159CBC;
}

.dashboard-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  min-height: 40px;
}

.dashboard-list-item:last-child {
  border-bottom: 0px solid #159CBC;
}

.dashboard-list-text {
  margin: 0px;
  letter-spacing: 0.2px;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #777 !important;
}

.dashboard-add {
  margin-top: 5px;
  font-size: 20px;
  color: #ddd !important;
}

.dashboard-add:hover {
  text-decoration: none;
  color: #159CBC !important;
}

.dashboard-edit {
  font-size: 16px;
  color: #ddd;
}

.dashboard-edit:hover {
  text-decoration: none;
  color: #159CBC;
}

.dashboard-delete {
  color: #ddd;
}

.dashboard-delete:hover {
  text-decoration: none;
  color: red;
}

.dashboard-info-edit {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #ddd;
}

.dashboard-info-edit:hover {
  text-decoration: none;
  color: #159CBC;
}

.dashboard-link {
  color: #777 !important;
}

.dashboard-link:hover {
  text-decoration: none;
  color: #159CBC !important;
}







